@* mesela biz aynı navbarı bir çok html sayfasının içinde kullandık bunları orda tekrar tekrar tanımlamaktansa Shared isminde bir klasör oluşturduk bu klasörü bütün controller'lar kullanıyor ve içerisine html sayfalarında defalarca kullanacağımız özellikleri tanımlarız ki bir değişiklik yapacağımız zaman tek tek tüm html sayfalarına yapmaktansa burada tek bir değişiklik yapabilelim *@
<div class="navbar bg-primary navbar-dark navbar-expand-sm">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>
    </div>
</div>