@model ShopApp.WebUI.Models.Product

    <div class="card">
        <img class="card-img-top" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-iphone14-202209_FMT_WHH?wid=508&hei=472&fmt=p-jpg&qlt=95&.v=1661958160494" alt="Alternate Text" />
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <a class="btn btn-primary" href="#">İncele</a>
        </div>
    </div>
