@model List<Category>
 @* product/list/2 *@
@* kategori menüsünde tüm kategorier yazan kýsým *@
<div class="list-group">
    <a href="/products" class="list-group-item list-group-item-action">Tum Kategoriler</a>
@* kategori menüsünde katagori elemanlarýnýn nameleri yazan kýsým *@
    @foreach (var item in Model)
    {
        <a asp-controller="Shop" asp-action="List" asp-route-category="@item.Url" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == item.Url?"active":"")">@item.Name</a>
    }
</div>   